html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#root,
#game-container {
  width: 100vw;
  height: 100vh;
  // background-color: #a79279; // NOTE(rex): Uncomment to make the background the same color as the game canvas bg...
  background-color: #8c7a68;
  color: #f7f7eb;
}
